@model CienciaArgentina.Microservices.Commons.Mail.ModelTemplates.SendConfirmationAccountModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hola, tu nombre es: @Model.Nombre y url es @Model.Url
</body>
</html>