@model CienciaArgentina.Microservices.Commons.Mail.ModelTemplates.SendGetPasswordResetTokenModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Hola @Model.UserName si olvidaste tu usuario hacé click <a href="@Model.Url">aquí</a>.
</body>
</html>