@model CienciaArgentina.Microservices.Commons.Mail.ModelTemplates.SendForgotUserModel
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    Tu usuario es: @Model.UserName
</body>
</html>